.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header .logo {
  margin-top: 16px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.header__header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    justify-content: none;
  }
}
.header__navigation {
  display: flex;
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
  // margin-right: auto;
}
.header__form-list {
  margin-bottom: 100px;
  @media screen and (min-width: 768px) {
    list-style: none;
  }
}
.header__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: auto;
  }
}

.header__item {
  padding: 32px 0;
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header__form-item {
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.header__link {
  display: block;
  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }

  &--current {
    color: $accent1-color;
  }

  &:hover,
  &:focus {
    color: $accent1-color;
    fill: $accent1-color;
  }

  &--current::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    display: none;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: $accent1-color;
    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }
}
.header__contact {
  display: flex;
  align-items: center;
  color: $secondary-text-color;
  fill: $secondary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color, fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent1-color;
    fill: $accent1-color;
  }
}
.header__info {
  display: flex;
  list-style: none;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}
.header__contacts {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
    @media screen and (min-width: 1200px) {
      margin-right: 40px;
      margin-bottom: 0;
    }
  }
}
.header__margin {
  margin-left: 8px;
  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}
.header__button {
  @media screen and (min-width: 768px) {
    display: none;
  }
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: inline-flex;
  background-color: transparent;
  border: none;
  // margin: 10px 0;
  &:hover,
  &focus {
    cursor: pointer;
    fill: $accent1-color;
  }
}
.header__icon-close {
  display: none;
  // z-index: 100;
}
.header__button.is-open .header__icon-close {
  display: block;
}
.header__button.is-open .header__icon-menu {
  display: none;
}
.header__mobile-menu {
  display: none;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 796px;
  background-color: $accent2-color;
  padding: 48px 40px;
  text-align: left;
  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  // @media screen and (min-width: 768px) {
  //   display: none;
  // }
}
.header__social-list {
  display: flex;
  margin-top: 64px;
}
.header__social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  color: $accent1-color;
}
.header__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header__social-item:not(:first-child) {
  padding-left: 10px;
}
.header__form-tel {
  color: $accent1-color;
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
}
.header__form-mail {
  color: $secondary-text-color;
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.667;
  margin-top: 32px;
}
