.logo {
  color: $accent1-color;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  @media screen and (max-width: 1199px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
  }
}
.logo__black {
  color: $primary-text-color;

  &--inverse {
    color: $accent2-color;
  }
}
