.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: $accent2-color;
  transform: translate(-50%, -50%) translate(0%) scale(100%) rotate(0);
  opacity: 1;
  transition: transform 250ms $timing-function, opacity 250ms $timing-function;
  padding: 40px;
}
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $timing-function;
}
.modal__backdrop.modal__backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal__backdrop.modal__backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) translate(100%) scale(200%) rotate(720deg);
  opacity: 0;
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}
.modal__input {
  width: 100%;
  height: 40px;
  border: solid 1px rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms $timing-function;

  &:hover,
  &:focus {
    border: solid 1px $accent1-color;
    cursor: pointer;
  }

  &:focus-visible {
    outline: none;
  }
}
.modal__icon {
  position: absolute;
  left: 15px;
  bottom: 14px;
  pointer-events: none;
}
.modal__input + .modal__icon {
  transition: fill 250ms $timing-function;
}
.modal__input:focus + .modal__icon,
.modal__input:hover + .modal__icon {
  fill: $accent1-color;
  cursor: pointer;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    border-color: $accent1-color;
    color: $accent1-color;
  }
}
.modal__button-close {
  fill: currentColor;
  transition: fill 250ms $timing-function;
}
.modal__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal__text {
  margin-bottom: 20px;
}

.modal__label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.1667;
  color: $secondary-text-color;
  margin-bottom: 4px;
}

.modal__textarea {
  resize: none;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  transition: border 250ms $timing-function;

  &:focus,
  &:hover {
    border: 1px solid $accent1-color;
    cursor: pointer;
  }
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal__conditions {
  position: relative;
  color: rgba(117, 117, 117, 1);
  font-size: 14;
  line-height: 1.714;
}

.modal__ref {
  position: relative;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $accent1-color;
}
.modal__button {
  color: $accent2-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: $accent1-color;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  letter-spacing: 0.06em;
  margin: 30px 124px 0;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $button-active;
    cursor: pointer;
  }
}
.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  &:checked ~ .modal__check {
    background-color: $accent1-color;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(14px, -50%);
    border-style: none;
    border-radius: 2px;
  }
}
.modal__checkbox-label {
  margin-left: 37px;
  font-size: 14px;
  line-height: 1.714;

  &::after {
    content: '';
    display: block;
    width: 16px;
    height: 15px;
    border: solid 2px $primary-text-color;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(14px, -50%);
  }
}
.modal__check {
  position: absolute;
  background-color: $accent2-color;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
  left: 14px;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
}
