.social__icon-set {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  fill: $svgfill;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

&:hover,
&:focus {
  background-color: $accent1-color;
  fill: $accent2-color;
  cursor: pointer;
}

&--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $accent2-color;
  transition: fill, background-color, 250ms $timing-function;
}
}